.primeira{
  position: relative;
  max-width: 80%
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }

  .container {
    width: 20%;
    min-width: 180px;
    margin: 0 auto;
  }

  a {
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    width: 78%;
    position: relative;
    z-index: 10;
    background: #000000;
    margin: 10px 11%;
  }

  a:hover {
    background: #000000;
  }

  span {
    display: block;
    padding: 8px 30px;
    position: relative;
    z-index: 10;
    background: inherit;
    text-align: center;
  }

  a::before, a::after, span::before, span::after {
    content: "";
    display: block;
    position: absolute;
    width: 90%;
    height: 50%;
    background: inherit;
    z-index: -1;
    background-clip: padding-box;
    border-color: #eee;
    border-style: solid;
    border-width: 0;
  }

  a::before {
    top: -10px;
    left: 15%;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
    transform: skew(45deg);
    border-top-width: 10px;
    border-right-width: 12px;
  }

  a::after {
    top: -10px;
    right: 15%;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transform: skew(-45deg);
    border-top-width: 10px;
    border-left-width: 12px;
  }

  span::before {
    top: 50%;
    left: 15%;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transform: skew(-45deg);
    border-bottom-width: 10px;
    border-right-width: 12px;
  }

  span::after {
    top: 50%;
    right: 15%;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
    transform: skew(45deg);
    border-bottom-width: 10px;
    border-left-width: 12px;
  }
